.container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.row {
    margin: 10px 0px 10px 0px;
}
.big-logo {
    margin-right: 30px;
}
.top-nav {
    font-size: 1.3rem;
}

.descriptor {
    /*margin-left: 160px;*/
}

.main-head {
    font-weight: 500;
}

.my-footer {
    background-color: #f8f9fa;
    padding: 20px 20px 10px 20px;
}
