<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}">

    <title>MidRUS</title>
  </head>
  <body>
    <!-- Header -->
    <div class="container red shadow-lg rounded">
        <div class="row red">
            <div class="col red">
              <img src="{{ url_for('static',filename='images/logo.png') }}" class="float-left big-logo" alt="logo" height="110">

              <h1 class="display-2 main-head">MidRUS</h1>
            </div>

            <div class="col red">
              <ul class="nav float-right top-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/about">О проекте</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api_docs">API</a>
                </li>
              </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="row red">
          <div class="col red">
            <h2 class="descriptor">О проекте</h2>
          </div>
        </div>

        <div class="row red">
            <div class="col red">
                <p> 
                  MidRus NLP является сервисом для автоматической морфологической и частеречной разметки, а также токенизации и лемматизации старорусских текстов.
                  В основе сервиса лежит модель UDPipe версии 1.2.1, обученная на исторических документов, полученных из подкорпуса Средневекого русского языка НКРЯ.
                </p>
                <p>  
                  Проект выполнен студентами НИУ ВШЭ в рамках НИСа магистерской программы  <a href="https://www.hse.ru/ma/ling/">"Компьютерная лингвистика"</a>
                </p>
                <p>
                  Статья:
                  Lyashevskaya, Ostyakova, Salnikov, Semenova, The smaller the better? Heterogeneity of corpus, training size, and
                  morphological tagging, 2020, Computational Linguistics and Intellectual Technologies, Papers from the Annual
                  International Conference “Dialogue”, Issue 19, Supplementary volume, pp. 1091 – 1108<br>
                  <a href="http://www.dialog-21.ru/media/5191/_-dialog2020_supvol.pdf">Ссылка на статью</a>
                </p>
            </div>
          </div>

          <table class="table table-striped">
            <tbody>
              <thead>
                <tr>
                  <td scope="col">Основная информация:</td>
                  <td></td>
                </tr>
              </thead>
              <tr>
                <td>Авторы</td>
                <td>MidRus NLP</td>
              </tr>
              <!--<tr>
                <td>Homepage</td>
                <td>https://github.com/Bzrm/MidRusNLP</td>
              </tr>-->
              <tr>
                <td>Репозиторий</td>
                <td>https://github.com/Bzrm/MidRusNLP</td>
              </tr>
              <tr>
                <td>Статус</td>
                <td>Version 1.0</td>
              </tr>
              <!--
              <tr>
                <td>Contact</td>
                <td>midrus@gmail.com</td>
              </tr>-->
            </tbody>
          </table>


        <!-- Footer -->

        <div class="row red ">
          <div class="col red ">
            <footer class="my-footer rounded shadow">
              <p>
                (c) MidRus team, 2020
              </p>
            </footer>
          </div>
        </div>

    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>



  </body>
</html>
