<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <title>MidRUS</title>
  </head>
  <body>
    <!-- Header -->
    <div class="container red shadow-lg rounded">
        <div class="row red">
            <div class="col red">
              <img src="{{ url_for('static',filename='images/logo.png') }}" class="float-left big-logo" alt="logo" height="110">

              <h1 class="display-2 main-head">MidRUS</h1>
            </div>

            <div class="col red">
              <ul class="nav float-right top-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api_docs">API documentation</a>
                </li>
              </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="row red">
          <div class="col red">
            <h2 class="descriptor">About the project</h2>
          </div>
        </div>

        <div class="row red">
            <div class="col red">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat
                    vel velit finibus maximus. Mauris maximus ante in quam sagittis,
                    pellentesque varius velit molestie. Ut sit amet mauris leo.
                </p>
                <p> Vestibulum acneque quis libero dignissim rutrum. Etiam lacus odio, dictum nec magna
                    a, ullamcorper malesuada turpis. Nam sit amet viverra tellus. Vestibulum
                    non auctor odio. Donec quis turpis massa. Vestibulum ante ipsum primis
                    in faucibus orci luctus et ultrices posuere cubilia curae; Quisque eleifend
                    arcu vitae velit viverra, id lobortis lacus consequat.
                </p>
                <p> Ut aliquam pretium neque, eu pharetra urna semper ac. Aliquam eu massa quis orci vehicula tincidunt.
                </p>
            </div>
          </div>

          <table class="table table-striped">
            <tbody>
              <thead>
                <tr>
                  <td scope="col">Basic info</td>
                  <td></td>
                </tr>
              </thead>
              <tr>
                <td>Authors</td>
                <td>MidRus NLP</td>
              </tr>
              <tr>
                <td>Homepage</td>
                <td>https://github.com/Bzrm/MidRusNLP</td>
              </tr>
              <tr>
                <td>Development repository</td>
                <td>https://github.com/Bzrm/MidRusNLP</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>Version 1.0</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td>midrus@gmail.com</td>
              </tr>
            </tbody>
          </table>


        <!-- Footer -->

        <div class="row red ">
          <div class="col red ">
            <footer class="my-footer rounded shadow">
              <p>
                (c) MidRus team, 2020
              </p>
            </footer>
          </div>
        </div>

    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>



  </body>
</html>
