<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}">

    <title>MidRUS</title>
  </head>
  <body>
    <!-- Header -->
    <div class="container red shadow-lg rounded">
        <div class="row red">
            <div class="col red">
              <img src="{{ url_for('static',filename='images/logo.png') }}" class="float-left big-logo" alt="logo" height="110">

              <h1 class="display-2 main-head">MidRUS</h1>
            </div>

            <div class="col red">
              <ul class="nav float-right top-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/about">О проекте</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api_docs">API</a>
                </li>
              </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="row red">
            <div class="col red">
                <p> Веб-сервис MidRus NLP находится в открытом доступе.
                  Пользуясь сервисом MidRus NLP, вы соглашаетесь с тем, что полученные нами данные могут быть использованы для дальнейшего улучшения сервиса. Отзывы и пожелания приветсвуются.  
                </p>
                <p>
                  Обращение к MidRus API осуществляется через веб-сервис, 
                  а также через любой инструмент веб-разработки, поддерживающий стандартные HTTP запросы и обработку документов в формате JSON.
                </p>
              </div>
          </div>

        <div class="row red">
          <div class="col red">
            <h2 class="descriptor">API Reference</h2>
            <p>
              Для использования API необходимо отправить POST запрос на адресс *~~~~~* вместе с json-файлом формата:<br>
              {'input_text': text, 'tokenization': True, 'lemmatisation': True},
              где значения для 'tokenization' и 'lemmatisation' могут быть True или False в зависимости от того, требуется ли пользователю токенизация/лемматизация или нет.
              
            </p>
          </div>
        </div>

        <!-- <table class="table table-striped">
          <tbody>
            <thead>
              <tr>
                <td scope="col">Service Request</td>
                <td>Description</td>
                <td>HTTP Method</td>
              </tr>
            </thead>
            <tr>
              <td>Lorem</td>
              <td>Ipsum dolor sit amet</td>
              <td>Quisque</td>
            </tr>
            <tr>
              <td>Lorem</td>
              <td>Ipsum dolor sit amet</td>
              <td>Quisque</td>
            </tr>
          </tbody>
        </table>-->

        <div class="row red">
          <div class="col red">
            <h3 class="descriptor">Пример использования</h3>
            <p>Пример использования для языка Python
            </p>
            <img src="{{ url_for('static',filename='images/Example.png') }}" alt="python example" height="180">
            <p></p>
            <h3 class="descriptor">Модели</h3>
            <p>В работе API MidRusNLP используется две UDPipe-модели.
              Токенизация и лемматизация производится с помощью модели, обученной на коллекции данных объёмом примерно в 300 тыс. токенов.
              Большая часть документов выборки относится к 17 веку, однако треть данных представляет собой документы 14-16 веков, написанных на церковнославянском.
              Морфологическая и частеречная разметка осуществляется с помощью отдельной модели, обученной на 6,5% всего Среднерусского корпуса НКРЯ (объём около 846 тыс. токенов).
              Эта модель продемонстрировала отличные результаты на задачах морфологической и частеречной разметки, превысив показатели более объёмных моделей на 35%.
              <br>Метрики модели:
              POS-tag F1: 96.65%, Feats F1: 89.58%
            </p>
            
          </div>
        </div>



        <!-- Footer -->

        <div class="row red ">
          <div class="col red ">
            <footer class="my-footer rounded shadow">
              <p>
                (c) MidRus team, 2020
              </p>
            </footer>
          </div>
        </div>

    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>



  </body>
</html>
