<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}">

    <title>MidRUS</title>
  </head>
  <body>
    <!-- Header -->
    <div class="container red shadow-lg rounded">
        <div class="row red">
            <div class="col red">
              <img src="{{ url_for('static',filename='images/logo.png') }}" class="float-left big-logo" alt="logo" height="110">

              <h1 class="display-2 main-head">MidRUS</h1>
            </div>

            <div class="col red">
              <ul class="nav float-right top-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api_docs">API documentation</a>
                </li>
              </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="row red">
            <div class="col red">
                <p> The web service is freely available.
                  If you use the service, you agree that data obtained by us during such use can be used for further improvements of the system.
                  All comments and reactions are welcome.
                </p>
                <p>

                The MidRus NLP REST API can be accessed directly or via any other web programming tools that support standard HTTP request methods and JSON for output handling.
                </p>
              </div>
          </div>

        <div class="row red">
          <div class="col red">
            <h2 class="descriptor">API Reference</h2>
            <p>
              In order to use API one should send http POST request on address *actual address should be here* along with json-file of following format:<br>
              {'input_text': text, 'tokenization': True, 'lemmatisation': True} <br>where values for keys 'tokenization' and 'lemmatisation' are either True or False 
              depending on wethere you want to use this functions or not and value for 'text is text data for tagging.
            </p>
          </div>
        </div>

        <!-- <table class="table table-striped">
          <tbody>
            <thead>
              <tr>
                <td scope="col">Service Request</td>
                <td>Description</td>
                <td>HTTP Method</td>
              </tr>
            </thead>
            <tr>
              <td>Lorem</td>
              <td>Ipsum dolor sit amet</td>
              <td>Quisque</td>
            </tr>
            <tr>
              <td>Lorem</td>
              <td>Ipsum dolor sit amet</td>
              <td>Quisque</td>
            </tr>
          </tbody>
        </table>-->

        <div class="row red">
          <div class="col red">
            <h3 class="descriptor">Example</h3>
            <p>Usage example for Python
            </p>
            <img src="{{ url_for('static',filename='images/Example.png') }}" alt="python example" height="180">
            <p></p>
            <h3 class="descriptor">Method models</h3>
            <p>Our API uses two separate models both based on UDPipe version 1.2.1. <br>
              Tokenization and lemmatization are done with the model, trained on the collection extracted from the RNC Mid-Russian Corpus. This collection contains ~300k tokens. 
              The Majority of douments are dated to 17th century, but nearly one third of the collection is documents from the 14-16 cc.<br>
              For morphological and pos-tagging our API uses the UDPipe model, trained on 6,5% of the whole RNC Mid-Russian Corpus (~846k tokens). 
              This model has shown outstanding performance on these particular tasks, outperforming the larger model by almost 35%. POS-tag F1: 96.65%, Feats F1: 89.58%
            </p>
            
          </div>
        </div>



        <!-- Footer -->

        <div class="row red ">
          <div class="col red ">
            <footer class="my-footer rounded shadow">
              <p>
                (c) MidRus team, 2020
              </p>
            </footer>
          </div>
        </div>

    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>



  </body>
</html>
